.chat-container {
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 0 auto;
    padding: 25px;
    font-family: Arial, sans-serif;
  }
  .previous-chats {
    width: 45%;
    border-right: 3px solid #ccc;
    padding-right: 20px;
  }
  
  .chat {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .chat.active {
    background-color: #f2f2f2;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .chat-details h3 {
    margin: 0;
  }
  
  .opened-chat {
    /* flex: 1; */
    padding-left: 300px;
  }

  .chat-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .chat-header h2 {
    color: #333;
    font-size: 24px;
  }

  .chat-body {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
  }

  .message {
    margin-bottom: 10px;
  }

  .message-received {
    background-color: #d2eaf8;
    padding: 10px;
    border-radius: 8px;
  }

  .message-sent {
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 8px;
    text-align: right;
  }

  .chat-input {
    display: flex;
  }

  .chat-input input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 14px;
  }

  .chat-input button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
  }

  .chat-input button:hover {
    background-color: #45a049;
  }

.new-chat-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.new-chat-button button {
  background-color: #25D366;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.new-chat-button button:hover {
  background-color: #128C7E;
}
 