.admin-container {
    padding: 0px 100px;
}

.student-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.counselor-section {
    display: flex;   
}
.counselor-table {
    width: 100%;
    margin-right: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}