.login-container {
    font-family: Arial, sans-serif;
    /* background: radial-gradient(circle, #ca4c4e, #80ecff); */
    /* background: linear-gradient(to right, #ee7752, #e73c7e); */
    /* background: linear-gradient(to bottom right, #f7bd53, #4feee1); */
    padding-top: 100px;

  }

  .login-container form {
    max-width: 450px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #9ec5c2;
  }

  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-container label[for="email"],
  .login-container label[for="password"] {
    margin-right: 77%;
    padding: 5px 0;
    font-size: large;
    font-weight: bold;
  }

  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .login-container form b {
    font-size: small;
    font-weight: bold;
    /* color: rgb(57, 57, 241); */
  }

  .login-container button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .login-container button[type="submit"]:hover {
    background-color: #45a049;
  }


  .login-footer {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
  }
  .login-footer p{
    font-size: small;
  }

  .login-footer a {
    font-size: small;
    margin: 13px;
    font-weight: bold;
  }