.signup-container {
    font-family: Arial, sans-serif;
    /* background: radial-gradient(circle, #ca4c4e, #80ecff); */
}

.signup-container form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #9ec5c2;
}
.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 93%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.signup-container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.signup-container input[type="submit"]:hover {
    background-color: #45a049;
}

.signup-footer {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}
.signup-footer p{
    font-size: small;

}
.signup-footer a {
    margin: 13px;
    font-weight: bold;
    font-size: small;
}
